<tr>
    <td>
        <NavLink href="@($"products/{Product?.Id}")" >
            @Product.Name
        </NavLink>
    </td>
    
    <td>@Product?.Price</td>                
    <td>@Product?.Color</td>                
</tr>

@code
{
    [Parameter]
    public Product? Product { get; set; }
}
